

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

*, *:after, *:before {
    box-sizing: border-box;
  }
/* Убираем точки у списка*/
li {
    display: inline-block;
}
ul{
    padding-left: 0;
}




a {text-decoration: none; color: navy;} 
a:hover {
    /* text-decoration: underline; */
    color: #007ACC;
}


.container{
    max-width: 100%;
   
    /* padding-left:5%;
    padding-right:5%; */
    margin-left: 5%;
    margin-right: 5%;
   
    /* outline: 2px solid red; */
}

header{
    padding-top: 64px;
    padding-left: 14%;
    padding-right: 14%;
    width: 100%;
    background-color: #EAEAEA;

}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    column-gap: 32%; 
    margin-bottom: 2em;
   
}

.logo{
    position: relative;;
    font-weight: 700;
    font-size: 200%;
    color: #007ACC;
    padding-right: 0.33em;
    padding-bottom: 0.0825em;
}

.logo:after{
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 0.22em;
    height: 0.22em;
    background-color: #FDA300;
    border-radius: 50%;
}

/* Nav */

.nav-list{
    display: flex;
    column-gap: 3.5em; 
    font-weight: 400;
    font-size: 20;
    
}

.nav-button{
    border-style: none;
    background-color: red;
    display: none;
    background-blend-mode: multiply;
}

.nav-button img{
    left: 45%;
    width: 50%;
    height: 50%;
}
#nav-btn-img{
    background-color: none;

}
.nav-link{
    position: relative;
    color: #3C3C3C;
    padding-bottom: 0.2em;
}

.nav-link:hover:after{
    position: absolute;

    bottom: 0;
    content: "";
    display: block;
    height: 1.5px;
    width: 100%;
    background-color: #007ACC;

}

/* Header content */

.header-row{
    display: flex;
    justify-content: space-between;
    column-gap: 0.1em;
}

.header-heading{
    font-weight: 300;
    font-size: 60;
    margin-bottom: 0.7em;;
}

.header-content{
    width: 35%;
    margin-top: 10%;

    /* outline: 2px solid red; */
}
.header-content p{
    font-weight: 100;
    font-size: 20;
    line-height: 1.5;

}

.header-img img{
    width: 40em;
    height: 30em;
    /* outline: 2px solid red; */
}
.header-img {
    width: 100%;
   
    /* outline: 2px solid red; */
}

/* Technologies */

.technologies{
    width: 100%;
    background-color: #000331;
    padding: 95px 14%;
}

.tech-row{
    display: flex;
    /* column-gap: 9.8%; */
    flex-wrap: wrap;
}
.tech-item{
    margin-bottom: 10%;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
    min-width: 315px;
}

.technologies img{
    
    margin-bottom: 45px;
    max-width: 8em;
    max-height: 8em;
    height: 60%; 
}

.tech-item-title{
    font-weight: 700;
    font-size: 1.4em;
    color: #FFFFFF;
    margin-bottom: 0.4em;
    text-align: center;
}

.tech-item p{
    font-weight: 400;
    font-size: 0.9em;
    color: #FFFFFF;
    line-height: 2em;
    margin-bottom: 1em;
    text-align: center;
    max-width: 80%;
    line-height: 1.5;
}

/*Portfolio*/

.portfolio{
    width: 100%;
    padding: 107px 14%;
    
}

#p1{
    background-color: #F8F8F8;
}
#p2{
    background-color: #E6E6E6;
}
#p3{
    background-color: #F8F8F8;
}
.portfolio-title{
    text-align: center;
    margin-bottom: 5.5%;
}

.title-1{
    font-weight: 700;
    font-size: 40;
}
.project{
    
    text-align:center;
}
.project img{
    padding-bottom: 38px;
   
}
#img1{
    width:40%;
    height:30%;
}

#pr_2{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E6E6E6;
}
.pr-row{
    margin: 0 auto;
    width: 80%;
    padding: 0 10%;
    display: flex;
    column-gap: 2%;
    justify-content: center;
}
#img2{
    width:50%;
    height:50%;
}

.pr-col{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* row-gap: 2%; */
}
#img3{
    width:40%;
    height:40%;
}

h3{
    font-weight: 700;
    font-size: 32;
}
h3.project{
    padding-top: 0.5%;
    font-weight: 100;
    font-size: 40;
    color: black;
}

/*Contact*/

.contacts{
    width: 100%;
    padding: 4% 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3C3C3C;
}

.contacts-title{
    text-align: center;
    color: white;
    margin-bottom: 5.5%;
}

.contacts-content p{
    text-align: center;
    font-weight: 100;
    font-size: 40;
    color: white;
    margin-bottom: 1em;
}
.contacts-button{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    text-align: center;
    margin: 1% auto;
    background-color: #007ACC;
    color: white;
    padding: 4% 6%;
    font-size: 30;
    width: 60%;
    height: 40%;
    border-radius: 1em;

}
.btn:hover{
    color: #FDA300;
}

.contacts-social{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts-social a{
    
    margin-top: 10%;
    width: 20%;
    height: 20%;
}

